{{!-- Built using the cs_340 nodejs starter guide: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}
<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GameShop Video Games Database</title>
</head>
<body>

    <header>
        <h1>GameShop Video Games Navigation</h1>
    </header>

    <nav>
    <a href="/">Home Page</a>
    <a href="customers.hbs">Customers</a>
    <a href="purchases.hbs">Purchases</a>
    <a href="games.hbs">Games</a>
    <a href="genres.hbs">Genres</a>
    <a href="esrbs.hbs">Esrbs</a>
    <a href="releases.hbs">Releases</a>
    <a href="studios.hbs">Studios</a>
    </nav>

    {{{body}}}

</body>
</html>