{{!-- Built using the cs_340 nodejs starter guide: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}
<!-- index.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameShop Video Games Database</title>
</head>
<body>

  <main>
  <p> This website contains 1 page for each table in the GameShop Database.</p>
  </main>

  <footer>
    <p>&copy; 2025 Benjamin Leonard, Christine Lin, Michael Mcallister</p>
  </footer>

